# Synthetic Data - Basic Example with CTGAN
<a class="anchor" id="top"></a>

[CTGAN Repository](https://github.com/sdv-dev/CTGAN)

## Table of Contents
* [Top of Notebook](#top)
* [Section 1 - Imports](#imports)
* [Section 2 - Get Data](#getdata)
* [Section 3 - Prepare Data](#preparedata)
* [Section 4 - CTGAN](#ctgan)
* [Section 5 - Inspect and Validate](#inspect)

## Section 1 - Imports <a class="anchor" id="imports"></a>
[Back to Top](#top)

In [5]:
#basic data wrangling
import pandas as pd

#synthetic data generator
from ctgan import CTGANSynthesizer

#evaluator tool
from table_evaluator import load_data, TableEvaluator


#to get the iris dataset
from sklearn.datasets import load_boston

## Section 2 - Get Data <a class="anchor" id="getdata"></a>
[Back to Top](#top)

In [6]:
boston_dataset = load_boston()

## Section 3 - Prepare Data <a class="anchor" id="preparedata"></a>
[Back to Top](#top)

In [7]:
boston = pd.DataFrame(boston_dataset.data, columns=boston_dataset.feature_names)
boston.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [8]:
# add target 
boston['MEDV'] = boston_dataset.target

## Section 4 - CTGAN <a class="anchor" id="ctgan"></a>
[Back to Top](#top)

## Section 4 - Inspect and Validate <a class="anchor" id="inspect"></a>
[Back to Top](#top)